In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.Series(np.random.randint(0,7,size=10)) # generates a random series of data using numpy random
df

0    1
1    4
2    4
3    6
4    5
5    1
6    0
7    2
8    3
9    0
dtype: int32

In [20]:
s=pd.Series(np.random.randint(0,10,size=2))
s

0    2
1    4
dtype: int32

In [21]:
s.value_counts() #counts the values

2    1
4    1
Name: count, dtype: int64

In [25]:
tb= pd.DataFrame(np.random.randn(10,4)) 
tb

          0         1         2         3
0  2.417983  0.550611  1.077285  2.300824
1 -1.396644  1.600134  1.420701  0.546982
2 -1.018287  0.540320 -1.221052 -0.826169
3  0.015091  0.897111  0.732279 -1.129558
4  0.610496  1.135165 -0.631710 -0.035381
5 -0.071775  0.469065 -0.360351 -2.930084
6  0.448935 -1.094263 -0.248212 -0.429177
7  1.247928  0.423320  1.232667  0.882726
8 -0.153854  0.156322  0.426426 -0.600552
9  1.931424  0.533768  1.654664 -2.005829

In [30]:
np.random.rand(10,4) #generates a random 10X4 matrix or 2D array

array([[0.08411626, 0.70151391, 0.44533336, 0.93975566],
       [0.70126633, 0.67481138, 0.79553158, 0.6876822 ],
       [0.307276  , 0.64931848, 0.80409012, 0.22013202],
       [0.6058765 , 0.79437412, 0.0087926 , 0.73167236],
       [0.17528365, 0.82204038, 0.86893559, 0.36792394],
       [0.58465937, 0.51788021, 0.63715929, 0.44228075],
       [0.18589906, 0.63403772, 0.31111211, 0.1882643 ],
       [0.50328095, 0.20697332, 0.61183014, 0.75362644],
       [0.63829616, 0.65111531, 0.3345293 , 0.84831686],
       [0.12094755, 0.03626975, 0.15067648, 0.79371393]])

In [40]:
pieces = [tb[:3],tb[3:6],tb[7:]] # slices the dataframe into pieces
pieces

[          0         1         2         3
 0  2.417983  0.550611  1.077285  2.300824
 1 -1.396644  1.600134  1.420701  0.546982
 2 -1.018287  0.540320 -1.221052 -0.826169,
           0         1         2         3
 3  0.015091  0.897111  0.732279 -1.129558
 4  0.610496  1.135165 -0.631710 -0.035381
 5 -0.071775  0.469065 -0.360351 -2.930084,
           0         1         2         3
 7  1.247928  0.423320  1.232667  0.882726
 8 -0.153854  0.156322  0.426426 -0.600552
 9  1.931424  0.533768  1.654664 -2.005829]

In [41]:
pd.concat(pieces) # concats all the sliced pieces into single dataframe.

          0         1         2         3
0  2.417983  0.550611  1.077285  2.300824
1 -1.396644  1.600134  1.420701  0.546982
2 -1.018287  0.540320 -1.221052 -0.826169
3  0.015091  0.897111  0.732279 -1.129558
4  0.610496  1.135165 -0.631710 -0.035381
5 -0.071775  0.469065 -0.360351 -2.930084
7  1.247928  0.423320  1.232667  0.882726
8 -0.153854  0.156322  0.426426 -0.600552
9  1.931424  0.533768  1.654664 -2.005829